.user_profile {
  .profile_header {
    @apply flex gap-[8rem] mt-[5rem] mb-[6rem];
    .img_container {
      height: 20rem;
      width: 20rem;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
    .profile_info {
      @apply flex flex-col gap-[.5rem];
      .name {
        @apply text-[4.5rem] font-bold;
      }
      .email,
      .time {
        @apply text-[1.8rem] font-bold text-gray-600;
      }
    }
  }
  .profile_reviews {
    .num_reviews_edit_delete {
      @apply flex items-center justify-between mb-[3rem];
      h1 {
        @apply text-[3rem] font-bold;
      }
      .edit_delete_profile {
        @apply flex gap-[3rem];
        button {
          @apply px-[1rem] py-[.5rem] rounded-xl font-semibold text-[1.25rem];
          &:nth-child(1) {
            @apply bg-green-300 hover:bg-green-400 hover:scale-105 duration-200 hover:shadow-lg;
          }
          &:nth-child(2) {
            @apply bg-red-400 hover:bg-red-500 hover:scale-105 duration-200 hover:shadow-lg;
          }
        }
      }
    }
    .reviews {
      @apply flex flex-col gap-[2rem] mb-[5rem];
      .review {
        @apply flex;
        box-shadow: 0rem 0rem 0.5rem lightgray;
        .img_container {
          height: 18rem;
          width: 18rem;
          margin-right: 2rem;
          overflow: hidden;
          img {
            @apply h-[100%] w-[100%] hover:scale-[1.1] duration-300;
            object-position: center;
          }
        }
        .book_info {
          @apply flex flex-col justify-between py-[.5rem];

          .book_title {
            @apply text-[3rem] font-bold text-gray-500 hover:text-gray-900;
          }
          .time,
          .author,
          .desc {
            @apply text-gray-500 font-bold;
          }
          .author {
            @apply text-[1.5rem];
          }

          .rating {
            @apply text-[1.8rem] text-yellow-300 font-bold;
          }
          .desc {
            padding-bottom: 0.5rem;
          }
          .see_more {
            @apply cursor-pointer
               text-blue-500 hover:underline;
          }
        }
      }
    }
  }
}
