.nav {
  @apply flex items-center;
  h1 {
    @apply text-[4rem]  font-bold  cursor-pointer;
    flex: 0.8;
    text-shadow: 0rem 0rem 0.4rem gray;
  }
  ul {
    flex: 1;
    @apply flex justify-between;

    li {
      @apply text-[1.3rem] font-bold cursor-pointer text-gray-500 border-b-[.2rem] border-transparent hover:text-black hover:border-b-[.2rem] hover:border-black;
    }
  }
  .sign_up_button,
  .log_in_button {
    @apply px-[1rem] py-[.5rem] border-none hover:border-none font-bold text-[1.3rem] duration-300;
  }
  .sign_up_button {
    @apply bg-blue-400 text-white rounded-lg hover:bg-blue-600 hover:shadow-lg;
  }
  .log_in_button {
    @apply bg-green-400 text-white rounded-lg hover:bg-green-600 hover:shadow-lg;
  }
}
